{% extends "base.html" %}
{% block content %}

<h2>Create Playlist</h2>
<br>
<p>There are {{numb_videos}} videos currently in your playlist.</p>
<div id="form_input">
  <form style="height: 100%; width: 100%" method="POST" accept-charset="UTF-8">
    <fieldset id="playlist_info">
      <table>
        <tr>
          <td align="right">Playlist Name </td>
          <td align="left"><input type="search" name="playlist_title"></td>
        </tr>
        <tr>
          <td align="right">Playlist Description </td>
          <td align="left"><input type="search" name="playlist_desc"></td>
        </tr>
      </table>
      <input class="btn btn-default" type="submit" value="Get Results">
      <input class="btn btn-default" type="reset" value="Reset">
    </fieldset>
  </form>
</div>

{% endblock %}