{% extends "base.html" %}
{% block content %}

<h1>{{pl_title}}</h1>
<br>
<p>{{pl_desc}}</p>
<br>
<p>You can access your playlist here - <a href="https://www.youtube.com/watch?v={{first_vid}}&list={{pl_link}}">URL to playlist</a></p>
<p>Or, play it below:</p>
<br>
<!--<iframe id="ytplayer" type="text/html" width="720" height="405"
src="https://www.youtube.com/embed/?listType=playlist&list={{pl_link}}&listType=playlist&modestbranding=1&playsinline=1"
frameborder="0" allowfullscreen>-->

<iframe id="ytplayer" width="90%" height="90%" src="https://www.youtube.com/embed/videoseries?list={{pl_link}}&amp;ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

{% endblock %}