{% extends "base.html" %}
{% block content %}

<h1>{{pl_title}}</h1>
<br>
<p>{{pl_desc}}</p>
<br>
<p>You can access your <b>FULL</b> playlist here - <a href="https://www.youtube.com/watch?v={{first_vid}}&list={{pl_link}}">URL to playlist</a></p>
<br>
<p>Or, you can listen to the first few tracks below.</p>
<p><b>PLEASE NOTE</b> - The Youtube Data API Python client throttles requests on the server.</p>
<p>So the embedded playlist below may not be "complete".</p>
<p>Use the URL to go to the playlist on Youtube for now.</p>
<p>Work is being done to remedy this issue...!</p>
<br>
<!--<iframe id="ytplayer" type="text/html" width="720" height="405"
src="https://www.youtube.com/embed/?listType=playlist&list={{pl_link}}&listType=playlist&modestbranding=1&playsinline=1"
frameborder="0" allowfullscreen>-->

<!-- dyniamic video size depending on os? mobile version? -->
<iframe id="ytplayer" width="720" height="405" src="https://www.youtube.com/embed/videoseries?list={{pl_link}}&amp;ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

{% endblock %}