{% extends "base.html" %}
{% block content %}

<style>
  /* https://stackoverflow.com/questions/17838380/styling-jquery-ui-autocomplete */
  .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px; 
    max-height: 50vh ;  
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    overflow-y: auto ;
    background-color: black;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: white;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

</style>

<script type="text/javascript">
  
  $(function() {
    $( "#artist_name" ).autocomplete({
      source: function( request, response ) { $.getJSON($SCRIPT_ROOT + "/_query_autocomplete", { search: request }, response);}
    });
  });
  
  $(function() {
    $( "#release_name" ).autocomplete({
      source: function( request, response ) { $.getJSON($SCRIPT_ROOT + "/_query_autocomplete", { search: request }, response);}
    });
  });
   
  $(function() {
    $( "#label_name" ).autocomplete({
      source: function( request, response ) { $.getJSON($SCRIPT_ROOT + "/_query_autocomplete", { search: request }, response); }
    });
  }); 
  </script>


<br>
<div id="form_input">
  <form style="height: 100%; width: 100%" method="POST" accept-charset="UTF-8">
    <table>
      <tr>
        <td align="left"><h2>Query Builder</h2></td>
        <td align="right"><input class="btn btn-default" type="submit" value="Get Results"></td>
        <td align="left"><input class="btn btn-default" type="reset" value="Reset"></td>
        <td align="left"><a href="/create_playlist" class="btn btn-default">Create Playlist</a></td>
      </tr>
    </table>
    <p>Please note artist, release & label names are stored as per <a href="https://www.discogs.com/help/submission-guidelines-release-artist.html#Artist_Naming_Conventions">the discogs naming conventions</a> [eg. Artefakt (2)]</p>
    <fieldset id="searches">
      <table>
        <col valign="middle" align="left" style="width : 30%;">
        <col valign="center" style="width : 70%;">
        <!--<tr>
          <td valign="middle" align="right">Max Videos to Return </td>
          <td align="center"><input type="number" name="query:max_results"></td>
        </tr> -->
        <tr>
          <td id="form" valign="middle" align="right">Artist Name </td>
          <td id="form" align="center"><input type="search" id="artist_name" name="search:artist_name">
          </td>
        </tr>
        <tr>
          <td id="form" valign="middle" align="right">Release Name </td>
          <td id="form" align="center"><input id="release_name" type="search" name="search:release_name"></td>
        </tr>
        <tr>
          <td id="form" valign="middle" align="right">Label Name </p>
          <td id="form" align="center"><input id="label_name" type="search" name="search:label_name"></td>
        </tr>
      </table>
    </fieldset>
    <br>
<!--
    <fieldset id="andors">
      <p>Perform an 'AND' or 'OR' on text search parameters ?</p>
      <table>
        <tr>
          <td><input type="radio" name="andors" value="AND" checked>AND</td>
          <td><input type="radio" name="andors" value="OR" checked>OR</td>
        </tr>
      </table>
    </fieldset>
    <br>
-->
    <fieldset id="selections">
      
      <table>
        <col valign="center" align="center" style="width : 33%;">
        <col valign="center" align="center" style="width : 33%;">
        <col valign="center" align="center" style="width : 33%;">
        <tr>
          <th>Year Released</th>
          <th>Genre</th>
          <th>Style</th>
        </tr>
        <tr>
          <td id="form" align="center">
            <select multiple id="Years" name="query:year" size="20">
              {% for year in years %}
                <option value="{{year}}">{{year}}</option>
              {% endfor %}
            </select>
          </td>
          <td id="form" align="center">
            <select multiple id="Genres" name="query:genre" size="20">
              {% for genre in genres %}
                <option value="{{genre}}">{{genre}}</option>
              {% endfor %}
            </select>
          </td>
          <td id="form" align="center">

            <select multiple id="Styles" name="query:style" size="20">
              {% for style in styles %}
                <option value="{{style}}">{{style}}</option>
              {% endfor %}
            </select>

          </td>
        </tr>
      </table>
      
    </fieldset>
  </form>
</div>

{% endblock %}