{% extends "base.html" %}
{% block content %}


<br>
<div id="form_input">
  <form style="height: 100%; width: 100%" method="POST" accept-charset="UTF-8">
    <table>
      <tr>
        <td align="center"><h2>Query Builder</h2></td>
        <td align="right"><input class="btn btn-default" type="submit" value="Get Results"></td>
        <td align="left"><input class="btn btn-default" type="reset" value="Reset"></td>
      </tr>
    </table>
    <fieldset id="searches">
      <table>
        <col valign="middle" align="left" style="width : 30%;">
        <col valign="center" style="width : 70%;">
        <tr>
          <td valign="middle" align="right">Max Videos to Return </td>
          <td align="center"><input type="number" name="query:max_results"></td>
        </tr>
        <tr>
          <td valign="middle" align="right">Artist Name </td>
          <td align="center"><input type="search" name="search:artist_name"></td>
        </tr>
        <tr>
          <td valign="middle" align="right">Release Name </td>
          <td align="center"><input type="search" name="search:release_name"></td>
        </tr>
        <tr>
          <td valign="middle" align="right">Label Name </p>
          <td align="center"><input type="search" name="search:label_name"></td>
        </tr>
      </table>
    </fieldset>
    <br>
<!--
    <fieldset id="andors">
      <p>Perform an 'AND' or 'OR' on text search parameters ?</p>
      <table>
        <tr>
          <td><input type="radio" name="andors" value="AND" checked>AND</td>
          <td><input type="radio" name="andors" value="OR" checked>OR</td>
        </tr>
      </table>
    </fieldset>
    <br>
-->
    <fieldset id="selections">
      <table>
        <col valign="center" align="center" style="width : 33%;">
        <col valign="center" align="center" style="width : 33%;">
        <col valign="center" align="center" style="width : 33%;">
        <tr>
          <th align="center">Year Released</th>
          <th align="center">Genre</th>
          <th align="center">Style</th>
        </tr>
        <tr>
          <td align="center" style="width:100%;">
            <select multiple id="Years" name="query:year" size="20">
              {% for year in years %}
                <option value="{{year}}">{{year}}</option>
              {% endfor %}
            </select>
          </td>
          <td align="center" style="width:100%;">
            <select multiple id="Genres" name="query:genre" size="20">
              {% for genre in genres %}
                <option value="{{genre}}">{{genre}}</option>
              {% endfor %}
            </select>
          </td>
          <td align="center" style="width:100%;">
            <select multiple id="Styles" name="query:style" size="20">
              {% for style in styles %}
                <option value="{{style}}">{{style}}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
      </table>
    </fieldset>
  </form>
</div>

{% endblock %}