{% extends "base.html" %}
{% block content %}


<h1>Results:</h1>
<br>
<p>You have {{latest_count}} videos in your current playlist.</p>
<br>
<div id="form_input">
  <form action="/" method="get">
    <input class="btn btn-default" type="submit" value="Add more videos">
  </form>
  <form action="/create_playlist" method="get">
    <input class="btn btn-default" type="submit" value="Generate Playlist">
  </form>
</div>
<br>
<p>There were {{total_count}} videos found for your last query.</p>
<br>
  {% for result in intersex %}
  <li><a href={{result}}>{{result}}</a>
  {% endfor %}


{% endblock %}